* {
    margin:0;
    padding:0;
}
body {
    width:100%;
    background-color: #093457;
}
.menu {
    width:100%;
    background-color: #52b1ff;
    height:100px;
}
.menu ul {
    list-style-type:none;
    text-align:center;
}
.menu ul li  {
    width: 20%;
    height: 30px;
    margin-top: 33px;
    display: inline-block;
    text-align: center;
    color: #093457;
    font-weight: 400;
    font-family: 'Della Respira', serif;
    font-size: 30px;
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #093457;
    letter-spacing: 3px;
    font-weight: 400;
}
.menu ul li a:hover {
    text-decoration: none;
    color: #ffffff;
}
.main {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
    font-family: 'Della Respira', serif;

}
table {
    font-family: 'Della Respira', serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #61b8ff;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #acd8fc;
}

table tr:hover {
    background-color: #61b8ff;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #11558d;
    color: white;
}
.outro {
    font-family: 'Della Respira', serif;
    padding: 20px;
}
form {
    font-family: 'Della Respira', serif;
    padding:20px;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

input[type=submit] {
    width: 20%;
    background-color: #11558d;
    color: white;
    padding: 14px 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #52b1ff;
}

img {
    width:400px;
    height:400px;
    margin-left: 200px;
}
.hidden {
    display: none;
}