<ul>
    <li><a href="index.php?link=index">Movies</a></li>
    <li><a href="index.php?link=genre">Genre</a></li>
    <li><a href="index.php?link=schedule">Schedule</a></li>
    <li><a href="index.php?link=form">Add New</a></li>

</ul>
